#calendar {
  display: flex;
  flex-flow: column;
}

#calendar .days {
  display: flex;
  flex-flow: wrap;
}
#calendar .days .day_name {
  width: calc(100% / 7);
  border: 0;
  padding: 5px 0;
  text-indent: 5px;
  text-transform: uppercase;
  font-size: 12px;
  color: #000;
}
#calendar .days .day_num {
  background: #f1f2f4;
  display: flex;
  flex-flow: column;
  width: calc(100% / 7);
  border: 0;
  text-indent: 5px;
  padding: 5px 0;
  font-weight: bold;
  cursor: pointer;
  min-height: 50px;
  font-size: 14px;
}
.day_num {
  position: relative;
}
.day_num svg {
  position: absolute;
  bottom: 10px;
  right: 5px;
  display: inline-block;
  margin: 0 0 0 auto;
}
#calendar .days .day_num span {
  display: inline-flex;
  width: 30px;
  font-size: 14px;
}
#calendar .days .day_num .event {
  margin: 2px 0 0 5px;
  padding: 3px;
  border-radius: 5px;
  background-color: #f7c30d;
  color: #fff;
  width: 5px;
  height: 5px;
  filter: drop-shadow(0px 1px 1px #000);
}
#calendar .days .day_num .event.today {
  background-color: #ccc;
}
#calendar .days .day_num .event.next {
  background-color: #f1ede7;
}
#calendar .days .day_num .event.someday {
  background-color: #d2c1a9;
}

#calendar .days .day_num:hover {
  background-color: #fdfdfd;
  border-radius: 5px;
}
#calendar .days .day_num.selected {
  background-color: #fff;
  color: #333;
  cursor: inherit;
}
#calendar .days .day_num.ignore {
  background-color: transparent;
  color: transparent;
  cursor: inherit;
}
#calendar .days .day_num.ignore svg {
  display: none;
}

#calendar .header {
  position: relative;
}
#calendar button {
  color: #000;
  cursor: pointer;
  position: absolute;
  top: 10px;
  padding: 0;
  transform: scaleY(2);
  background: transparent;
  border: none;
  font-weight: bold;
  display: inline-block;
}
#next-month {
  right: 0;
}
#calendar h2 {
  margin-left: 40px;
  display: inline-block;
  font-family: "Caveat", sans-serif;
  font-size:28px;
  color:000;
}

#goals {
  position: absolute;
  top: 70px;
  left: 0;
}
#goals .week {
  margin: 5px 0;
  font-size: 14px;
  margin: 20px 2px 40px;
  cursor: pointer;
  color: #ccc;
}

#goals .week.goal {
  color: #000;
}
#goals .week.current {
  -webkit-text-stroke: 1px #000;
}
#goals .week.future {
  color: white;
}
.calendar textarea {
  min-height: 180px;
  margin-bottom: 10px;
}
