h3 {
  color: #000;
  margin: 8px 0 15px;
}
p.desc {
  margin: 0;
}
iframe {
  display: none;
  width: 390px;
  margin: 20px 0 10px -5px;
  height: 210px;
}
p.title {
  color: #000;
  font-size: 15px;
  font-weight: 600;
  margin: 0;
  padding:0 0 0 20px;
  position: relative;
  
}
button#showIframe {
  border: 0;
  padding: 0;
  text-decoration: underline;
  background: transparent;
}
i {
  padding-right:5px;
  opacity: 0.5;
  top:0;
  left:-5px;
  position: absolute;
  display: inline-block; /* Ensures the background is visible */
  width:20px;
  height:20px; /* Adjust padding as needed */
  background-image: url("../imgs/award.svg");
  background-size: contain; /* Adjusts the SVG size to fit the element */
  background-repeat: no-repeat; /* Prevents the SVG from repeating */
  background-position: top center; /* Centers the SVG in the element */
  color: #000; /* Text color over the background */
  background-size: 20px;
  text-decoration: none; /* Removes underline */
  font-size: 12px;
  -webkit-text-stroke: 0.6px transparent;
}
i.todo{background-image: url("../imgs/list.svg");}
i.next{background-image: url("../imgs/next.svg");}
i.someday{background-image: url("../imgs/someday.svg");}