* {
  font-family: arial;
}
a {
  color: rgba(0, 0, 0, 0.6);
}
body {
  margin: 0;
  background: #5b5f4c;
  background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 250 250' xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='noiseFilter'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='4' numOctaves='3' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23noiseFilter)'/%3E%3C/svg%3E");
  background-blend-mode: overlay;
  min-height: 100vh;
}
body .container {
  flex: 1;
  position: relative;
  border-radius: 15px;
  margin: 0 auto;
  padding: 0;
  color: rgba(0, 0, 0, 0.6);
  background: #e4e5e9;
  filter: drop-shadow(0px 5px 10px #000);
}
body #content {
  padding: 0 10px;
  margin: 10px 0 60px;
  transition: opacity 0.5s ease-in-out;
}

footer,
.container {
  transition: background-color 0.5s ease;
}
/* set next and someday bg */
body.next footer,
body.next .container {
  background: #f1ede7;
}
body.someday footer,
body.someday .container {
  background: #d2c1a9;
}

body.someday input,
body.someday i {
  border-color: rgba(0, 0, 0, 0.3);
}

body header input {
}
body.today input[name="date"] {
}
body.next,
body.someday input[name="title"] {
}

body.today .archive,
body.today .recent {
  display: none;
}

select {
  -webkit-appearance: none;
  background: none;
  border: none;
  font-size: 18px;
  background: transparent;
  color: rgba(0, 0, 0, 0.6);
  outline: none;
}

select:focus-visible {
  outline: none;
}
input {
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  background: transparent;
}
input:focus {
  border: none;
  border-bottom: 2px solid #000;
  outline: none;
  color: rgba(0, 0, 0, 0.6);
}

header {
  position: relative;
  display: flex;
}
header .listType {
  border: none;
  font-size: 18px;
  color: rgba(0, 0, 0, 0.6);
  display: inline-block;
  cursor: none;
}
header input.picker {
  float: right;
  margin: 0 20px 0 0;
}
header input.picker {
  font-family: "Caveat", sans-serif;
  min-width: 100px;
  text-align: center;
  text-wrap: nowrap;
  text-transform: uppercase;
  position: relative;
  -webkit-appearance: none;
  -webkit-border-radius: 0;
  color: #000;
  height: 24px;
  font-size: 24px;
}
header input.picker::placeholder {
  color: rgba(0, 0, 0, 0.3);
}
header input.picker::-webkit-calendar-picker-indicator {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  padding: 0;
  color: transparent;
  background: transparent;
}
header input.picker:read-only {
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}
.cardSignal {
  display: flex;
  flex-direction: column;
  gap: 2px;
  position: absolute;
  top: 0;
  right: 0;
}

/* Hide the default radio input appearance */
.cardSignal input {
  appearance: none;
  -webkit-appearance: none; /* For Safari */
  width: 8px;
  height: 8px;
  border: 1px solid #999;
  margin: 0;
  border-radius: 50%;
  cursor: pointer;
  position: relative;
}

/* Style the checked radio button to add a filled inner circle */
.cardSignal input:focus {
  border: 1px solid #999;
}

.cardSignal input:checked::before {
  width: 8px;
  height: 8px;
  content: "";
  background: #000;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

header i {
  font-weight: bold;
  font-style: normal;
  font-size: 25px;
  position: absolute;
  top: 0;
  right: 0;
  display: block;
  cursor: pointer;
}
todoList {
  padding: 10px 0;
}
todoItem {
  display: block;
  position: relative;
}
todoItem input {
  flex: 1 1 auto;
  text-transform: uppercase;
  font-family: "Caveat", sans-serif;
  font-size: 24px;
  line-height: 30px;
  margin: 18px 0 0 25px;
  display: block;
  text-overflow: ellipsis;
  -webkit-appearance: none;
  -webkit-border-radius: 0;
}
todoItem select {
  width: 10px;
  appearance: none;
}

todoitem {
  display: flex;
  align-items: center;
  width: 100%;
}

.signal {
  text-indent: 20px;
  flex: 0 0 auto;
  margin-right: 8px;
  display: block;
  left: 0;
  bottom: 5px;
  padding: 0;
  position: absolute;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  appearance: none;
  background-size: cover;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3E%3Ccircle cx='15' cy='15' r='14' stroke='%23999' stroke-width='2' fill='none' /%3E%3Cline x1='15' y1='1' x2='15' y2='29' stroke='%23999' stroke-width='2' /%3E%3C/svg%3E");
}
.in-progress {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3E%3Ccircle cx='15' cy='15' r='14' fill='none' stroke='%23999' stroke-width='2' /%3E%3Cpath d='M15 1 A14 14 0 0 1 15 29 Z' fill='%23000' /%3E%3C/svg%3E");
}
.completed {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3E%3Ccircle cx='15' cy='15' r='14' stroke='%23999' fill='%23000' /%3E%3C/svg%3E");
}
.appointment {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3E%3Ccircle cx='15' cy='15' r='14' stroke='%23999' stroke-width='2' fill='none' /%3E%3Cline x1='1' y1='15' x2='29' y2='15' stroke='%23000' stroke-width='2' /%3E%3Cline x1='15' y1='1' x2='15' y2='29' stroke='%23000' stroke-width='2' /%3E%3C/svg%3E");
}
.delegated {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3E%3Ccircle cx='15' cy='15' r='14' stroke='%23999' stroke-width='2' fill='none' /%3E%3Cline x1='1' y1='15' x2='29' y2='15' stroke='%23000' stroke-width='2' /%3E%3Cline x1='15' y1='1' x2='15' y2='29' stroke='%23000' stroke-width='2' /%3E%3Cpolyline points='15,5 25,15 15,25' fill='none' stroke='%23000' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' /%3E%3C/svg%3E");
}
.dropdown {
  flex: 0 0 auto;
  position: absolute;
  bottom: 0;
}
.dropdown button {
  border: 0;
  cursor: pointer;
  position: relative;
  background-color: transparent;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  z-index: 10;
}

.dropdown-content a {
  position: relative;
  color: black;
  padding: 10px 0 10px 35px;
  text-decoration: none;
  display: block;
}
.dropdown-content a i.signal {
  left: 5px;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:focus-within .dropdown-content {
  display: block;
}
.dropdown-content a:first-child {
  border-radius: 10px 10px 0 0; /* Top-left and top-right corners rounded */
}

.dropdown-content a:last-child {
  border-radius: 0 0 10px 10px; /* Bottom-left and bottom-right corners rounded */
}
todoItem .copy {
  display: hidden;
}
todoItem .dropdown.disabled button {
  opacity: 0.5;
  cursor: not-allowed;
}
todoItem .dropdown.disabled:focus-within .dropdown-content {
  display: none;
}

.copy {
  flex: 0 0 auto;
  appearance: none;
  position: absolute;
  bottom: 0;
  right: -5px;
  margin: 4px auto;
  display: block;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.8);
  background-image: url("./imgs/copy.svg");
  background-size: contain; /* Adjusts the SVG size to fit the element */
  background-repeat: no-repeat; /* Prevents the SVG from repeating */
  background-position: center; /* Centers the SVG in the element */
  background-size: 15px 15px;
  border: 0;
  cursor: pointer;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  padding: 2px 8px;
  text-indent: 40px;
}
todoItem .copy.hidden {
  display: none;
}
todoitem:focus-within input {
  padding-right: 20px;
}

card .flip {
  position: absolute;
  left: 46%;
  margin: 0 auto;
  line-height: 12px;
  color: #999;
  display: block;
  font-weight: bold;
  font-size: 40px;
  text-decoration: none;
  text-align: center;
  background-color: transparent;
  background-image: url("./imgs/arrow-right-circle.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  color: #000;
  background-size: 25px 25px;
  border: 0;
  cursor: pointer;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  padding: 2px 8px;
  z-index: 99;
  opacity: 0.5;
}

card.back .flip {
  background-image: url("./imgs/arrow-left-circle.svg");
}
html.notes .flip {
  color: #000;
  opacity: 1;
}

cal {
  display: none;
  justify-content: space-between;
  padding: 10px;
  align-items: flex-start;
  margin-top: 30px;
}
body.today cal {
  display: flex;
}

cal .day {
  text-align: center;
  width: 35px;
  color: rgba(0, 0, 0, 0.6);
  font-size: 12px;
}

cal .day a {
  font-size: 16px;
  display: block;
  width: 25px;
  height: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  text-decoration: none;
  border: 3px solid transparent;
  border-radius: 50%;
  margin-left: 2px;
}

cal .day a.current {
  color: #000;
  background-color: rgba(255, 255, 255, 0.8);
  font-weight: bold;
  cursor: none;
}
cal .day a.today {
  border: 3px solid rgba(0, 0, 0, 0.3);
}
cal .day span {
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.6);
  display: inline-block;
}

h2 {
  font-family: "arial";
  color: #000;
  /* font-family: 'Caveat', sans-serif; */
  font-size: 28px;
  color: #000;
  font-weight: bolder;
  margin: 0;
}
p {
  font-family: GTPressuraMonoLight, Avenir Next, Helvetica Neue, Helvetica,
    Arial, sans-serif;
}
p.desc {
  padding-left: 20px;
}
main textarea {
  background: transparent;
  border: 0;
  field-sizing: content;
  width: 100%;
  min-height: 300px;
  margin: 0;
  font-family: "Caveat", sans-serif;
  font-size: 24px;
  line-height: 30px;
  display: block;
  -webkit-appearance: none;
  -webkit-border-radius: 0;
  background-attachment: local;
  background-image: linear-gradient(
      to right,
      transparent 10px,
      transparent 10px
    ),
    linear-gradient(to left, transparent 10px, transparent 10px),
    repeating-linear-gradient(
      transparent,
      transparent 30px,
      rgba(0, 0, 0, 0.3) 30px,
      rgba(0, 0, 0, 0.3) 31px,
      transparent 31px
    );
  line-height: 31px;
}
main textarea:focus {
  outline: none !important;
  box-shadow: 0;
}

.loading {
  position: relative;
}
.loading::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  background: #000;
  animation: slide-line 1.5s ease-in-out infinite;
}
@keyframes slide-line {
  0% {
    width: 0;
    left: 0;
  }
  50% {
    width: 100%;
    left: 0;
  }
  100% {
    width: 0;
    left: 100%;
  }
}

main input[type="time"] {
  font-family: "Caveat", sans-serif;
  font-size: 30px;
  min-width: 50%;
}
main p {
  margin: 0 0 10px;
}

textarea[name="braindump"] {
  height: 69vh;
}

footer {
  background: #e4e5e9;
  border-radius: 0 0 15px 15px;
  width: 400px;

  position: absolute;
  bottom: 0;
  padding: 5px 0;
  width: 100%;
  border-top: 2px dotted rgba(0, 0, 0, 0.3);
}
footer ul {
  display: flex;
  justify-content: space-evenly;
  position: relative;
  align-items: center;
  margin: 0 auto;
  list-style: none;
  padding: 0;
}
footer li {
  flex: 1;
  display: inline-block;
  text-align: center;
}
footer span {
  padding: 10px;
  display: block;
  color: #999;
}
footer a {
  opacity: 0.5;
  display: inline-block; /* Ensures the background is visible */
  padding: 35px 20px 0; /* Adjust padding as needed */
  background-image: url("award.svg");
  background-size: contain; /* Adjusts the SVG size to fit the element */
  background-repeat: no-repeat; /* Prevents the SVG from repeating */
  background-position: top center; /* Centers the SVG in the element */
  color: #000; /* Text color over the background */
  background-size: 30px 30px;
  text-decoration: none; /* Removes underline */
  font-size: 12px;
  -webkit-text-stroke: 0.6px transparent;
}
footer li.goal a {
  background-image: url("./imgs/award.svg");
}
footer li.todo a {
  background-image: url("./imgs/list.svg");
}
footer li.calendar a {
  background-image: url("./imgs/calendar.svg");
}
footer li.export a {
  background-image: url("./imgs/cast.svg");
}
footer li.info a {
  background-image: url("./imgs/info.svg");
}
footer li.next a {
  background-image: url("./imgs/next.svg");
}
footer li.someday a {
  background-image: url("./imgs/someday.svg");
}

.container {
  min-height: 100vh; /* Makes the container at least the full height of the viewport */
  display: flex;
  flex-direction: column;
  padding-bottom: 50px; /* Adjust to match footer height */
  box-sizing: border-box; /* Ensures padding doesn’t increase overall height */
  margin-bottom: 0;
}

body.goal footer li.goal a,
body.today footer li.todo a,
body.todo footer li.todo a,
body.calendar footer li.calendar a,
body.export footer li.export a,
body.info footer li.info a,
body.next footer li.next a,
body.someday footer li.someday a {
  text-decoration: none;
  opacity: 1;
  -webkit-text-stroke: 0.6px #000;
}

card {
  display: none;
}
card.active {
  display: block;
}

.cal-link {
  padding: 20px 0 10px;
  display: block;
  text-align: right;
}
.calendar-icon {
  width: 24px; /* Adjust the size as needed */
  height: 24px;
  display: inline-block;
  background-color: transparent;
  background-image: url("./imgs/calendar.svg");
  background-size: contain;
  background-repeat: no-repeat;
  text-indent: 1000;
  overflow: hidden;
  vertical-align: bottom;
  margin-left: 10px;
}

a.coach {
  text-align: right;
  padding: 10px 25px 10px 0;
  display: inline-block;
  background-image: url(./imgs/ai-agent.svg);
  background-size: 20px 20px;
  background-repeat: no-repeat;
  background-position: right;
}

/* export */
.export main textarea {
  margin: 20px 0;
  font-size: 10px;
  font-family: arial;
}
/* Textarea styling */
.export main textarea {
  width: 100%;
  height: 60px;
  margin-top: 10px;
  padding: 10px 0;
  font-size: 14px;
  border-radius: 5px;
}

.export main #msgs {
  min-height: auto;
}

/* Code container styling */
.code-container {
  position: relative;
}
#code-input {
  width: 100%;
  padding: 10px 0;
  font-size: 20px;
  text-align: center;
  border-radius: 8px;
  border: 2px solid #ccc;
  background-color: #f8f8f8;
  transition: border-color 0.3s, background-color 0.3s;
}

#generateButton {
  cursor: pointer;
  position: absolute;
  top: 14px;
  left: 10px;
  height: 20px;
  width: 20px;
  cursor: pointer;
  background: none;
  border: none;
  color: #333;
  transition: color 0.3s;

  background-image: url(./imgs/share-2.svg);
  background-size: 20px 20px;
  background-repeat: no-repeat;
  background-position: right;

  transition: background-color 0.3s;
}

#connectButton {
  cursor: pointer;
  position: absolute;
  top: 14px;
  right: 10px;
  height: 20px;
  width: 20px;
  cursor: pointer;
  background: none;
  border: none;
  color: #333;
  transition: color 0.3s;

  background-image: url(./imgs/toggle-left.svg);
  background-size: 20px 20px;
  background-repeat: no-repeat;
  background-position: right;

  transition: background-color 0.3s;
}
.connected #connectButton {
  background-image: url(./imgs/toggle-right.svg);
}
.connected #generateButton {
  display: hidden;
}

.connected #code-input {
  border-color: #28a745;
  background: #e8f2eb;
}

/* Switch styling */
.switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 25px;
  margin: 10px 0;
}

.switch input {
  display: none; /* Hide default checkbox */
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: 0.4s;
  border-radius: 25px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 17px;
  width: 17px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: 0.4s;
  border-radius: 50%;
}

.export input:checked + .slider {
  background-color: #007bff;
}

.export input:checked + .slider:before {
  transform: translateX(24px);
}

.export input:disabled + .slider {
  cursor: not-allowed;
}

/* Buttons styling */
.export .buttons {
  display: flex;
  justify-content: center;
}

#syncButton {
  padding: 10px 20px;
  font-size: 14px;
  border-radius: 5px;
  border: none;
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s;
}

#syncButton:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

#syncButton:not(:disabled):hover {
  background-color: #0056b3;
}

/* User count display */
#userCount {
  font-size: 14px;
  color: #555;
  font-weight: 500;
  margin-top: 10px;
  transition: color 0.3s;
}

/* Show and Save Data buttons */
#saveData {
  padding: 8px 16px;
  font-size: 14px;
  border-radius: 5px;
  border: none;
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-top: 5px;
}
#saveData:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

#saveData:hover {
  background-color: #0056b3;
}
.export .controls {
  display: flex;
  align-items: center;
  justify-content: space-between; /* This will push elements to opposite ends */
  margin-top: 10px;
}

.archive-button {
  display: none;
}
.archive-button.on {
  display: block;
}
/* Hide the default checkbox */
.archive-checkbox {
  display: none;
}

/* Style the label to act as the visible checkbox */
label.archive {
  display: inline-block;
  text-align: center;
  background-image: url("./imgs/archive.svg"); /* Use your SVG as background */
  background-size: 20px 20px; /* Adjust the size of the SVG */
  background-repeat: no-repeat;
  background-position: center;
  border: none;
  cursor: pointer;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  padding: 0;
  opacity: 0.4;
  position: absolute;
  top: 8px;
  left: 65px;
}

/* Add hover effect for better interactivity */
label.archive:hover {
  opacity: 0.8;
}
/* Add style for when the checkbox is checked */
.archive-checkbox:checked + .archive {
  opacity: 1; /* Full opacity when checked */
  background-color: white; /* Optional background when checked */
  background-image: url("./imgs/archive-select.svg");
}

.list {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  padding: 5px 0;
}

.circle {
  font-weight: bold;
  position: relative;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: transparent;
  border: 3px solid rgba(0, 0, 0, 0.3);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  text-indent: 0;
}
.circle:active {
  box-shadow: none;
}
.circle:active {
  overflow: hidden;
}
.circle:hover,
.circle.on {
  border: 3px solid rgba(0, 0, 0, 0.6);
}
.circle:hover::after {
  content: attr(data-text);
  position: absolute;
  bottom: 40px; /* Adjust based on desired distance */
  left: 50%;
  transform: translateX(-50%);
  background-color: #333;
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
  white-space: nowrap;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  font-size: 12px;
  z-index: 10;
}

.circle:hover::before {
  content: "";
  position: absolute;
  bottom: 30px; /* Place just above the popover */
  left: 50%;
  transform: translateX(-50%);
  border-width: 5px;
  border-style: solid;
  border-color: #333 transparent transparent transparent;
}

.archive .list {
  margin: 0;
  overflow: hidden;
  max-height: 0; /* Collapsed by default */
  transition: min-height 0.8s ease-out;
  padding: 0;
}
.archive.open .list {
  max-height: 300px;
  overflow: inherit;
  padding: 10px 0;
}

.recent {
  margin-top: 20px;
}
.archive.empty {
  display: none;
}
.recent h2,
.archive h2 {
  margin: 0;
  padding: 0;
  position: relative;
  font-size: 14px;
  font-weight: normal;
  color: rgba(0, 0, 0, 0.6);
  cursor: pointer;
  font-family: GTPressuraMonoLight, Avenir Next, Helvetica Neue, Helvetica,
    Arial, sans-serif;
}
.archive h2:after {
  content: "▼"; /* Default down arrow */
  font-size: 12px;
  margin-left: 20px; /* Space between text and arrow */
  transition: transform 0.8s ease;
}

.archive.open h2::after {
  content: "▲"; /* Up arrow */
}
.someday .archive {
  left: 95px;
}

.next card.active,
.someday card.active {
  padding-bottom: 10px;
}

#calendar {
  display: flex;
  flex-flow: column;
}

#calendar .days {
  display: flex;
  flex-flow: wrap;
}
#calendar .days .day_name {
  width: calc(100% / 7);
  border: 0;
  padding: 5px 0;
  text-indent: 5px;
  text-transform: uppercase;
  font-size: 12px;
  color: #000;
}
#calendar .days .day_num {
  background: #f1f2f4;
  display: flex;
  flex-flow: column;
  width: calc(100% / 7);
  border: 0;
  text-indent: 5px;
  padding: 5px 0;
  font-weight: bold;
  cursor: pointer;
  min-height: 50px;
  font-size: 14px;
}
.day_num {
  position: relative;
}
.day_num svg {
  position: absolute;
  bottom: 10px;
  right: 5px;
  display: inline-block;
  margin: 0 0 0 auto;
}
#calendar .days .day_num span {
  display: inline-flex;
  width: 30px;
  font-size: 14px;
}
#calendar .days .day_num .event {
  margin: 2px 0 0 5px;
  padding: 3px;
  border-radius: 5px;
  background-color: #f7c30d;
  color: #fff;
  width: 5px;
  height: 5px;
  filter: drop-shadow(0px 1px 1px #000);
}
#calendar .days .day_num .event.today {
  background-color: #ccc;
}
#calendar .days .day_num .event.next {
  background-color: #f1ede7;
}
#calendar .days .day_num .event.someday {
  background-color: #d2c1a9;
}

#calendar .days .day_num:hover {
  background-color: #fdfdfd;
  border-radius: 5px;
}
#calendar .days .day_num.selected {
  background-color: #fff;
  color: #333;
  cursor: inherit;
}
#calendar .days .day_num.ignore {
  background-color: transparent;
  color: transparent;
  cursor: inherit;
}
#calendar .days .day_num.ignore svg {
  display: none;
}

#calendar .header {
  position: relative;
}
#calendar button {
  color: #000;
  cursor: pointer;
  position: absolute;
  top: 10px;
  padding: 0;
  transform: scaleY(2);
  background: transparent;
  border: none;
  font-weight: bold;
  display: inline-block;
}
#next-month {
  right: 0;
}
#calendar h2 {
  margin-left: 40px;
  display: inline-block;
  font-family: "Caveat", sans-serif;
  font-weight: normal;
}

@media screen and (min-width: 501px) {
  body .container {
    width: 400px;
  }
}
@media screen and (max-width: 450px) {
  body .container {
    filter: drop-shadow(0 0 0 #000);
    border-radius: 0;
  }
  body {
    background: #e4e5e9;
  }
  body.next {
    background: #f1ede7;
  }
  body.someday {
    background: #d2c1a9;
  }
}
