<link rel="stylesheet" href="./calendar.css?cacheBust">
<style>
    #calendar button{
        cursor:pointer;
        position:absolute;
        top:20px;
        transform: scaleY(2);
        background:transparent; border:none; font-weight: bold; display:inline-block;}
    #next-month {right:0;}
    #calendar h2 {margin-left:20px; display: inline-block;}
</style>
    <div id="calendar">
        <div class="header">
            <button id="prev-month">&lt;</button>
            <h2 class="month-year"></h2>
            <button id="next-month">&gt;</button>
        </div>
        <div class="day_header days">
            <div class="day_name">Sun</div>
            <div class="day_name">Mon</div>
            <div class="day_name">Tue</div>
            <div class="day_name">Wes</div>
            <div class="day_name">Thu</div>
            <div class="day_name">Fri</div>
            <div class="day_name">Sat</div>
        </div>
        <div id="month_days" class="days"></div>
    </div>
<script src="./js/calendar.js"></script>