<div id="calendar">
    <div class="header">
        <button id="prev-month">&lt;</button>
        <h2 class="month-year"></h2>
        <button id="next-month">&gt;</button>
    </div>
    <div class="day_header days">
        <div class="day_name">Sun</div>
        <div class="day_name">Mon</div>
        <div class="day_name">Tue</div>
        <div class="day_name">Wes</div>
        <div class="day_name">Thu</div>
        <div class="day_name">Fri</div>
        <div class="day_name">Sat</div>
    </div>
    <div id="month_days" class="days"></div>
</div>
<script src="./js/calendar.js"></script>
<script>
    //handle click on empty day
    document.querySelector('#month_days').addEventListener("click", ({ target }) => {
        if (target.classList.contains('day_num')) {
            const url = `?date=${target.getAttribute('id')}#todo`;
            window.history.pushState({}, '', url);
            window.dispatchEvent(new Event("hashchange"));
        }
    });
    document.getElementById('prev-month').addEventListener('click', () => {
        date.setMonth(date.getMonth() - 1); // Go to the previous month
        const newUrl = `?month=${date.getFullYear()}-${String(date.getMonth() + 1).padStart(2, '0')}#calendar`;
        window.history.pushState({}, '', newUrl);
        renderCalendar();
        loadEvents(); // Reload events for the new month
    });

    document.getElementById('next-month').addEventListener('click', () => {
        date.setMonth(date.getMonth() + 1); // Go to the next month
        const newUrl = `?month=${date.getFullYear()}-${String(date.getMonth() + 1).padStart(2, '0')}#calendar`;
        window.history.pushState({}, '', newUrl);
        renderCalendar();
        loadEvents(); // Reload events for the new month
    });
    // Initialize calendar and load events
    renderCalendar();
    loadEvents();
</script>