<link rel="stylesheet" href="./calendar.css?cacheBust">
    <div id="calendar">
        <div class="header">
            <h2 class="month-year"></h2>
        </div>
        <div class="day_header days">
            <div class="day_name">Sun</div>
            <div class="day_name">Mon</div>
            <div class="day_name">Tue</div>
            <div class="day_name">Wes</div>
            <div class="day_name">Thu</div>
            <div class="day_name">Fri</div>
            <div class="day_name">Sat</div>
        </div>
        <div id="month_days" class="days"></div>
    </div>
<script src="./js/calendar.js?cacheBust"></script>