<header>
	<h2>Goal Setting</h2>
	<p>Set a goal for the week and define the best times to plan and review your progress.</p>
	<p>What would make this week a success for you?</p>
</header>
<main>
	<textarea name="goal"/></textarea>
	<p>Best time to set your daily to-do list?</p>
	<input name="start" type="time" />
	<p>Best time to review your daily progress?</p>
	<input name="review" type="time" />
	<br/>
	<!-- #TODO not saving to cal correctly 
		a id="generate-ics" class="cal-link">Set calendar reminder<i class="calendar-icon"></i></a -->
</main>
<script src="./js/goal.js?cacheBust"></script>