<link rel="stylesheet" href="./css/goal.css" />
<header>
  <a class="info" title="learn how to use this app" href="#info"
    >Get started with the analog framework.</a
  ><a href="#export" class="sync" title="sync tasks between devices"></a>
  <p>
    Set a goal for the week and define the best times to plan and review your
    progress.
  </p>
  <p>
    What would make this week a success for you?
    <a
      href="#coach"
      class="coach"
      title="use coach to help set a weekly goal"
    ></a>
  </p>
</header>
<main>
  <textarea name="goal"></textarea>
  <p>Best time to set your daily to-do list?</p>
  <input aria-label="task create time" name="start" type="time" />
  <p>Best time to review your daily progress?</p>
  <input aria-label="task review time" name="review" type="time" />
  <br />
  <a id="generate-ics" class="cal-link"
    >Set calendar reminder<i class="calendar-icon"></i
  ></a>
</main>
<script src="./js/calendar.js"></script>
<script>
  document.querySelector("main").addEventListener("change", (e) => {
    const goalText = document.querySelector("[name=goal]").value;
    const createTodos = document.querySelector("[name=start]").value;
    const reviewTodos = document.querySelector("[name=review]").value;
    const currentWeek = getWeekIdentifier(new Date());
    document.getElementById("generate-ics").style.display =
      createTodos.length && reviewTodos.length ? "block" : "none";
    saveWeeklyGoal(currentWeek, goalText, createTodos, reviewTodos);
  });
  document
    .getElementById("generate-ics")
    .addEventListener("click", generateICS);
  readWeeklyGoal(renderGoals);
</script>
