<style>
  h3 {
    color: #000;
    margin: 8px 0 15px;
  }
  p.desc {
    margin: 0;
  }
  iframe {
    display: none;
    width: 390px;
    margin: 20px 0 10px -5px;
    height: 210px;
  }
  p.title {
    color: #000;
    font-size: 15px;
    font-weight: 600;
    margin: 0;
  }
  button#showIframe {
    border: 0;
    padding: 0;
    text-decoration: underline;
    background: transparent;
  }
</style>
<iframe
  src="https://player.vimeo.com/video/427101662?autoplay=1&title=0&byline=0&portrait=0controls=0"
  width="640"
  height="360"
  frameborder="0"
  allow="fullscreen;"
  allowfullscreen
>
</iframe>
<p>
  Inspired by the analog cards from
  <button id="showIframe">UGMONK</button><br />Helping you stay organized,
  focused, and on track.
</p>

<h3>How to Use:</h3>

<p class="title">Set a Weekly Goal</p>
<p class="desc">
  Start by defining a weekly goal. Need help?<br />
  Use the AI Coach for guidance.
</p>

<p class="title">Create Today's To-Do List</p>
<p class="desc">
  Every day, set aside time to plan your tasks.<br />
  Focus on those that move you closer to your weekly goal.
</p>

<p class="title">Track Progress</p>
<p class="desc">
  Reference your tasks throughout the day and update them as you go.
</p>

<p class="title">Use the 'Next' Card</p>
<p class="desc">
  For tasks that aren’t urgent, add them to the 'Next' card to revisit later.
</p>

<p class="title">Someday Card for Big Goals</p>
<p class="desc">
  Track long-term projects or aspirations on the 'Someday' card.
</p>

<p class="title">End-of-Day Reflection</p>
<p class="desc">
  At the end of each day, review your progress. Copy over unfinished tasks and
  plan for tomorrow.
</p>
<script>
  document.getElementById("showIframe").addEventListener("click", function () {
    document.querySelector("iframe").style.display = "block";
  });
</script>
