<link rel="stylesheet" href="./css/info.css" />
<iframe
  src="https://player.vimeo.com/video/427101662?autoplay=1&title=0&byline=0&portrait=0controls=0"
  width="640"
  height="360"
  frameborder="0"
  allow="fullscreen;"
  allowfullscreen
>
</iframe>
<p>
  Inspired by the analog cards from
  <button title="show video" id="showIframe">UGMONK</button><br />Helping you
  stay organized, focused, and on track.
</p>

<h3>How to Use:</h3>

<p class="title"><i class="goal"></i>Set a Weekly Goal</p>
<p class="desc">
  Start by defining a weekly goal. Need help?<br />
  Use the AI Coach for guidance.
</p>

<p class="title"><i class="todo"></i>Create Today's To-Do List</p>
<p class="desc">
  Every day, set aside time to plan your tasks.<br />
  Focus on those that move you closer to your weekly goal.
</p>
<p class="title">Track Progress</p>
<p class="desc">
  Reference your tasks throughout the day and update status as you go.
</p>
<p class="title">End-of-Day Reflection</p>
<p class="desc">
  At the end of each day, review your progress. Copy over unfinished tasks and
  plan for tomorrow.
</p>
<p class="title"><i class="next"></i>Use <b>Next</b> for upcoming tasks</p>
<p class="desc">
  For tasks that aren’t urgent, add them here to revisit later.
</p>

<p class="title"><i class="someday"></i>Use <b>Someday</b> for Big Goals</p>
<p class="desc">Track long-term projects or aspirations here.</p>
<p>
  For more information on the
  <a href="https://ugmonk.com/pages/analog-tips">Analog framework</a>
</p>
<script>
  document.getElementById("showIframe").addEventListener("click", function () {
    document.querySelector("iframe").style.display = "block";
  });
</script>
