<h2>Quick App Guide</h2>
<iframe 
    src="https://player.vimeo.com/video/427101662?autoplay=1&title=0&byline=0&portrait=0controls=0" 
    width="640" 
    height="360" 
    frameborder="0" 
    allow="autoplay; fullscreen;" 
    allowfullscreen>
</iframe>
<h3>1. Set A Goal</h3>
<p class="desc">In <strong>Goal</strong>, set a weekly goal and schedule a daily check-in time.</p>
<h3>2. Today’s Tasks</h3>
<p class="desc">In <strong>Todo</strong>, add today’s tasks and update progress throughtout the day.</p>
<h3>3. Review Past Days</h3>
<p class="desc">Use <strong>Calendar</strong> to jump back to previous days.</p>
<h3>4. Sync Across Devices</h3>
<p class="desc">Go to <strong>Sync</strong> to keep your to-do lists updated everywhere.</p>
<p>Stay organized and on track!</p>

<p>For more information on the <a href="https://ugmonk.com/pages/analog-tips">Analog framework</a></p>
<style>
	iframe{width:400px; margin:20px 0 10px -10px; height:210px;}
</style>